* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* main styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 10px 0;
}
#navbar {
  background: #333;
  color: white;
  overflow: auto;
}
#navbar a {
  color: white;
  display: inline;
}
#navbar h1 {
  float: left;
  padding-top: 10px;
  padding-left: 10px;
}
#navbar ul {
  list-style: none;
  float: right;
}
#navbar ul li {
  float: left;
}
#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}
#navbar ul li a:hover {
  background: #444;
  color: #f7c08a;
}
#navbar ul li a.current {
  background: #444;
  color: #f7c08a;
}
